@import "../../../../.cache/wal/colors.scss";

* {
    all: unset;
}

window {
    background-color: rgba($background,70%);
    color: $foreground;
    font-family: Iosevka Nerd Font;
    border-radius: 10px;
}
.clock {
    margin: 20px 20px 20px 20px;
    font-size: 60px;
}
.cover {
    margin: 20px 20px 20px 20px;
    font-size: 30px;
}
.cover-title {
    margin-top: 20px;
    font-size: 30px;
}
.music-title {
    font-size: 20px;
    font-weight: 600;
}
.music-artist {
    font-size: 15px;
}
.music-bar trough highlight {
    all: unset;
    background-color: $color5;
    border-radius: 10px;
}
.music-bar trough {
    all: unset;
    background-color: $background;
    border-radius: 10px;
    min-height: 10px;
    min-width: 50px;
    margin-top : 10px;
    margin-bottom : 20px;
}
.music-bar {
    margin-top: 20px;
    color: $color5;
    font-size: 15px;
}
.hour-side {
    color: $foreground;
    font-size: 20px;
}
.day-side {
    color: $color4;
    font-size: 20px;
}
.month-side,
.year-side {
    color: $foreground;
    font-size: 15px;
}
.cal {
    min-height: 200px;
    min-width: 210px;
}
.cal-side {
    color: $color4;
    font-size: 11px;
}
.minute-side {
    color: $color5;
    font-size: 30px;
}
.music-title {
    color: $foreground;
}
.music-artist {
    color: $color4;
}
.music-position {
    margin-top: 20px;
    color: $color5;
    font-size: 11px;
}
.music-position-elapsed {
    color: $color5;
}
.music-position-separator {
    color: $foreground;
}
.music-position-total {
    color: $foreground;
}
.mascot {
    color: $color4;
    //background-image: url('images/bocchi.png');
    //background-image: url('images/ikuyo.png');
    //background-image: url('images/ryo.png');
    //background-image: url('images/nijika.png');
    //background-repeat: no-repeat;
    //background-size: 92px;
    min-height: 225px;
    min-width: 90px;
}

tooltip {
  font-size: 2em;
  background-color: $color4;
  color: $foreground;
}

calendar {
  background-color: rgba($background,70%);
  font-size: 2em;
  padding: 2px 5px;

  &.view {
    background-color: rgba($background,70%);
  }

  &.button {
    background-color: rgba($background,70%);
    border-radius: 50%;
    color: $foreground;

    &:hover {
      color: #71C0BA;
    }

    &:disabled {
      color: #12161B;
    }
  }

  &.header {
    color: $color4;
    background: $background;
  }

  &.highlight {
    color: #3D464E;
  }

  &:selected {
    color: #3D464E;
    background: $color4;
    border-radius: 10px;
  }

  &:indeterminate {
    color: #24292E;
  }
}

$foreground: #ffffff;
$grey: #aaaaaa;
$foreground-alt: #465059;
$background: #0e1419;
$black: #000000;
$red: #ff6565;
$green: #b8cc52;
$yellow: #e6c446;
$blue: #68d4ff;
$magenta: #ffa3aa;
$cyan: #36a3d9;
$white: #ffffff;

//* {
//  all: unset;
//}

//window {
//  background: $background;
//}

.bar {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  margin: 0 10px;
}

.icon-module {
  margin: 0 5px;
  & > &__icon {
    margin-right: 5px;
    font-family: Iosevka Nerd Font;
  }
}


.workspaces {
  font-family: Iosevka Nerd Font;
  font-size: 12px;
  margin-right: 20px;

  button {
    margin: 0px 3px;
  }
  .occupied {
    color: $grey;
  }

  .focused {
    color: $white;
  }

  .urgent {
    color: $red;
  }

  .empty {
    padding-top: 2px;
    color: $foreground-alt;
    font-size: 10px;
//  font-family: "Font Awesome 5 Free Regular"
  }

}

